@import './general.scss';

.blog {
    display: flex;
    flex-direction:column;
    align-items:center;

    padding: 0% 5% 0% 5%;

    .filterByCategory {
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;

        h3 {
            margin-right: 20px;
            align-self: center;
        }
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            .chosen {
                background-color: $font-highlight;
            }
            li {
                background-color: #333;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 20px;
                padding: 5px 15px;
                -webkit-box-shadow: 0 0px grey, 2.5px 2.5px grey;
                -moz-box-shadow: 0 0px grey, 2.5px 2.5px grey;
                box-shadow: 0 0px grey, 2.5px 2.5px grey;
                border-radius: 15px;
                &:hover {
                    background-color: $font-highlight;
                    cursor: pointer;
                }
                
            }
        }
    }

    .articles {

        h1 {
            font-weight: 800;
            padding-bottom: 20px;
        }
        
        .article {
            position: relative;
            width: auto;
            padding: 1em 1.5em;
            color: #333;
            margin-bottom: 4%;
            background: white;
            overflow: hidden;
            box-shadow: grey 10px 10px;
            border-radius: 30px;
          }

            .article-header-line {
                display: flex;
                flex-direction: row;

                .green-dot {
                    height: 10px;
                    width: 10px;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-top: 10px;
                    background-color: $font-highlight;
                    border-radius: 50%;
                    display: inline-block;
                  }

                p {
                      font-weight: 800;
                  }
            }

            .article-description {
                display: flex;
                flex-direction: row;

                img {
                    max-width: 300px;
                    margin-bottom: 10px;
                    align-self: flex-start;
                    border-radius: 15px;
                }

                p {
                    padding-left: 30px;
                    line-height: 1.5;
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }

            .article-button-section {
                margin: 10px 0px;
                button {
                    margin-left: 30px;
                    font-family: 'Source Code Pro', monospace;
                    line-height: 1.5;
                    font-size: 20px;
                    padding: 10px 20px;
                    color: white;
                    background-color: #333;
                    border: none;
                    -webkit-box-shadow: 0 5px grey, 5px 5px grey;
                    -moz-box-shadow: 0 5px grey, 5px 5px grey;
                    box-shadow: 0 5px grey, 5px 5px grey;
                    border-radius: 15px;

                    &:hover {
                        background-color: $font-highlight;
                        cursor: pointer;
                    }
                }
            }
    }
}