.footer-section {
    text-align: center;
    width: 100%;
    h1 {
        font-weight: 800;
    }

    .copyright {
        padding-bottom: 3%;
    }

    .socials {
        padding: 3% 0;
        img {
            max-width: 75px;
            padding: 0 5%;
            cursor: pointer;
        }
    }

    hr.dotted-line {
        color: rgba(255, 255, 255, 0);
        border-top: 3px dashed white;
        padding-bottom: 3%;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}