@import './general.scss';

.home-page-container {

    padding: 3% 5% 3% 5%;

    .tldr {
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content:flex-start;
        align-items:stretch;
        align-content:stretch;
    
        h1 {
            padding-right: 20px;
            font-weight: 800;
        }
    
        p span {
            color: $font-highlight;
        }
    }

    .latest-articles {
        padding-top: 3%;

        h1 {
            font-weight: 800;
            padding-bottom: 20px;
        }
        
        .article {
            position: relative;
            width: auto;
            padding: 1em 1.5em;
            margin-bottom: 4%;
            color: #333;
            background: white;
            overflow: hidden;
            box-shadow: grey 10px 10px;
            border-radius: 30px;
          }

            .article-header-line {
                display: flex;
                flex-direction: row;

                .green-dot {
                    height: 10px;
                    width: 10px;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-top: 10px;
                    background-color: $font-highlight;
                    border-radius: 50%;
                    display: inline-block;
                  }

                  p {
                      font-weight: 800;
                  }
            }

            .article-description {
                display: flex;
                flex-direction: row;

                img {
                    max-width: 300px;
                    margin-bottom: 10px;
                    align-self: flex-start;
                    border-radius: 15px;
                }

                p {
                    padding-left: 30px;
                    line-height: 1.5;
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }

            .article-button-section {
                margin: 10px 0px;
                button {
                    margin-left: 30px;
                    font-family: 'Source Code Pro', monospace;
                    line-height: 1.5;
                    font-size: 20px;
                    padding: 10px 20px;
                    color: white;
                    background-color: #333;
                    border: none;
                    -webkit-box-shadow: 0 5px grey, 5px 5px grey;
                    -moz-box-shadow: 0 5px grey, 5px 5px grey;
                    box-shadow: 0 5px grey, 5px 5px grey;
                    border-radius: 15px;

                    &:hover {
                        background-color: $font-highlight;
                        cursor: pointer;
                    }
                }
            }
    }

    .quick-links {

        h1 {
            font-weight: 800;
            padding-bottom: 20px;
        }

        .quick-links-bar {
            display: flex;
            flex-direction: row;

            .quick-links-resume {
                display: flex;
                flex-direction: column;
                padding-right: 20px;

                .resume-image {
                    max-width: 75px;
                    border-radius: 15px;
                    margin-bottom: 15px;
                }
            }

            a {
                color: $font-colour-main;

                &:hover {
                    color: $font-highlight;
                    cursor: pointer;
                }
            }
        }
    }
}