@import './general.scss';

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    position: sticky;
    top: 0;
    background-color: rgb(31, 31, 31);
    z-index: 10;
    transition: padding 0.5s, background-color 0.5s;

    .logo {
        max-width: 3rem;
        cursor: pointer;
    }

    .links {
        display: flex;
        justify-content: flex-end;
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            li {
                padding-left: 5vw;
                &:hover {
                    cursor: pointer;
                    color: $font-highlight;
                }
            }
            a {
                text-decoration: none;
                color: white
            }
            .active {
                li {
                    color: $font-highlight;
                }
            }
        }
    }

}

.navbar-scrolled {
    padding: 1% 5%;
    background-color: rgb(17, 17, 17);
    transition: padding 0.5s, background-color 0.5s;
    // border-bottom: .5px white dashed;
}